/* &display=swap&subset=cyrillic-ext */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

*{
	box-sizing: border-box;
}

li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 16px; /* по умолчанию */
	height: 100%;
}
body {
	font-family: 'Roboto';
	background: #F5F5F5;
	height: 100%;
}
.wrapper {
	/* min-height: 100%;
	overflow:hidden;
	 */
	
}
/* ------------------------------ */

.subtitle {
	max-width: 600px;
	min-height: 100px;
	border-radius : 149px 108px 0px 190px;
	margin: 50px;
	font-weight: 750;
	font-size: 35px;
	color:rgb(203, 96, 96) ;
	text-align: center;
	text-shadow: 5px 5px 10px rgb(129, 101, 101);
	text-transform: capitalize;
	text-decoration: underline;
	background-color: #b9abab;
	margin: 0px auto;
}

.block {
	display: none;
	max-width: 1400px;
	margin: 0px auto;
	background-color: aquamarine;
	padding-bottom: 100px;
}

.block__items{
	font-size: 0px;
	text-align: center;
	padding: 50px;
}

.own{
	display: inline-block;
	font-size: 16px;
	margin: 0 0 0 25px;
	max-width: 180px;
	margin-top: 10px;
}
.block__one {
	border: dotted  3px rgb(61, 30, 145);
	margin-left: 0;
	border-radius: 0 10px 0 10px;
	font-weight: 700;
	}

.block__two {
	border: dashed  3px rgb(61, 30, 145);
	vertical-align: top;
	border-radius: 10px;
	box-shadow: 5px 1px 15px rgb(73, 73, 80) , 5px -1px 15px rgb(9, 9, 232);
	text-transform: uppercase;
	max-height: 200px;
	overflow: auto;

	
}
.block__three {
	border: solid  3px rgb(61, 30, 145);
	vertical-align: top;
	border-radius: 0 10px 0 10px;
	box-shadow: 3px 5px 5px blue;
	font-weight: 900;
}

.own__two{
	height: 200px;
	overflow: hidden;
}

.block__four {
	border: 3px solid rgb(86, 16, 226);
	margin: 0;
	border-radius: 50%;
	background-color: rgb(156, 4, 113);
	
}
.block__five {
	border: 3px solid rgb(86, 16, 226);
	border-radius: 50%;
	background-color: rgb(156, 4, 113);
	opacity: 0;
	visibility: hidden;

}
.block__six {
	border: 3px solid rgb(86, 16, 226);
	border-radius: 50%;
	background-color: rgba(156, 4, 113, 0.649);
}

.block__7 {
	border: 3px solid rgb(86, 16, 226);
	margin: 0;
	border-radius: 50%;
	background-color: rgb(156, 4, 113);
	
}
.block__8 {
	border: 3px solid rgb(86, 16, 226);
	border-radius: 50%;
	background-color: rgb(156, 4, 113);
	opacity: 1;
	visibility: visible;

}
.block__9 {
	border: 3px solid rgb(86, 16, 226);
	border-radius : 149px 108px 0px 190px;
	width: 341px;
	height: 300px;
	background-color: rgba(156, 4, 113, 0.649);
	box-shadow: 13px 2px 10px rgb(81, 81, 200);
}

.text {
	font-size: 14px;
}
.blue {
	color: blue;
}
.text1 {
	line-height: 1.2;
}
.text2 {
	line-height: 16.8px;
}
.text3 {
}
.text4 {
}

.about {
	background: #F5F5F5;
}
.conteiner {
	max-width: 1020px;
	margin: 0px auto;
	
	

}
.block2{
	min-height: 700px;
	background-color: white;
}
.about__topic {
	padding: 0 0 0 87px;
 	font-size: 12px;
 	font-weight: 700;
 	line-height: 24px;
 	letter-spacing: 2.5px;
 	text-transform: uppercase;
	padding-top: 100px;
	margin: 0 0 33px 0;

}
.about__title {
	padding: 0 87px;
 	font-size: 36px;
 	font-weight: 900;
	line-height: 42px;
	margin: 0 0 36px;
	

}
.about__text {
	padding: 0 87px;
	line-height: 24px;
	letter-spacing: 0.15000000596046448px;
}

.about-bottom {
	background: #F5F5F5;
}
.image{
	text-align: center;
}
.about__image {
	max-width: 846px;
	margin: 0px auto;
	


}

.image__item {
	
	text-align: center;
	margin: -300px 0 ;
}

.block__column {
	margin-top: 410px;
}
.block__body {
	margin: 0 0 78px;
}
.block__topic {
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
line-height: 24px;
letter-spacing: 2.5px;
margin: 0 0 33px;
color: #4B4B4B;

}
.block__title {
font-size: 36px;
font-weight: 900;
line-height: 42px;
letter-spacing: 0px;
color: #02133C;

}
.block__columns {
}
.columns__item {
}
.item {
	display: inline-block;
	max-width: 324px;
	background-color: white;
	margin: 0 0 24px 20px;

}

.item:hover{
	box-shadow: 3px 3px 15px grey;
}

.item_body {
	text-align: center;
}

.first{
	margin-left: 0;
}
.item__image {
	padding: 50px 130px 0;
	margin: 0 0 33px;
}
.item__subtitle {
	padding: 0 43px 0;
	margin: 0 0 20px;
font-size: 19px;
font-weight: 900;
line-height: 26px;
color: #02133C;


}
.item__discription {
	padding: 0 43px 49px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.15000000596046448px;
color: #4B4B4B;

}

.border__block {
	max-width: 400px;
	margin: 0px auto;
}
.border__item {
	padding: 60px;
	background-color: white;
	opacity: 0.6;
	margin: 0 0 50px;
}

.border__item:hover{
	box-shadow: 3px 3px 15px grey;
	opacity: 1;
}

.border__image {
	height: 35px;
	width: 35px;
	background-color: rgb(54, 54, 211);
	border-radius: 50% 50% 50% 0;
	margin: 0 0 20px;
}
.border__text {
	
}
.border__title {
	font-size: 30px;
	font-weight: 700;
	margin:0 0 40px;
}
.border__discription {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1.3px;
}

.color_blok {
	background-color: rgba(30, 143, 255, 0.601);
	max-width: 500px;
	margin: 0px auto 30px;
	padding: 30px;
	border-left: solid 15px red;
	border-right: solid 15px yellow;
	border-top: solid 15px blue;
	border-bottom: solid 15px green;
	
}

.color_blok:hover {
	background-color: rgb(30, 143, 255);
	max-width: 500px;
	margin: 0px auto;
	padding: 30px;
	border-left: solid 15px yellow;
	border-right: solid 15px green;
	border-top: solid 15px red;
	border-bottom: solid 15px blue;
	margin: 0px auto 30px;
	
}

a{
	display: inline-block;
	color: red;
	background-color: rgb(92, 145, 150);
	box-shadow: 5px 5px 5px green;
}
.footer{
	background-color: #F5F5F5;
	min-height: 20px;
	min-width: 20px;
}